/* >>>>>>>>>>PAGE LAYOUT START>>>>>>>>>> */
/* pg-lyt-body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

/* ||pg-lyt-container|| */
#pg-lyt-container {
    min-height: 100%;
    position: relative;
    background-color: black;
}

/* |||pg-lyt-body||| */
#pg-lyt-body {
    padding: 10px;
    padding-bottom: 70px;

}

/* |||pg-lyt-footer||| */
#pg-lyt-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 70px;
    text-align: center;
    color: white;
}
/* <<<<<<<<<<PAGE LAYOUT END<<<<<<<<<< */

.animal-img {
    object-fit: contain;
    width: 100%;
}

.animal-table {
    background-color: black;
    color: white;
    white-space: nowrap;
    width: 10%;   
}

hr {
    display: block;
    border: 1px solid orange;
}

#hr-footer {
    display: block;
    border: 3px solid orange;
}
