<!DOCTYPE html>
<html lang="en">
    <!-- |head starts| -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Endangered Animals</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Bootstrap jQuery and Popper.js -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- "Sketchy" theme from Bootswatch -->
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
        <!-- Local style CSS -->
        <link rel="stylesheet" type="text/css" href="../static/style_index.css">
        <!-- Avoid fake favicon requests -->
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <!-- |head ends| -->
    </head>
    <!-- |body starts| -->
    <body>
        <!-- ||pg-lyt-container starts|| -->
        <div id='pg-lyt-container'>
            <div id='pg-lyt-body'>
                <div class="container text-white">
                    <div class="row justify-content-center my-3">
                        <div class="col-sm-12 text-center text-warning">
                            <h3>In PROTECTING animals, we are SERIOUS!</h3>
                            <p>Pure black background is to show respect to our beloved neighbours. We are committed to shrink the list to the happy end not the otherwise.</p>
                        </div>
                    </div>
                    <hr/>                    
                    <!-- Refer to app.py '/name_request' route to retrieve data -->
                    <div class="row justify-content-center">
                        <div class="col-sm-12 text-center vertical-left">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='African Elephant') }}">African Elephant</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Black Rhino') }}">Black Rhino</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Common Bottlenose Dolphin') }}">Common Bottlenose Dolphin</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Greater Sage-Grouse') }}">Greater Sage-Grouse</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Loggerhead Turtle') }}">Loggerhead Turtle</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Pronghorn') }}">Pronghorn</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Swift Fox') }}">Swift Fox</a></td>
                                    </tr>
                                    <tr>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='African Wild Dog') }}">African Wild Dog</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Black Spider Monkey') }}">Black Spider Monkey</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Dugong') }}">Dugong</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Green Turtle') }}">Green Turtle</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Macaw') }}">Macaw</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Red Panda') }}">Red Panda</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Tiger') }}">Tiger</a></td>
                                    </tr>
                                    <tr>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Albacore Tuna') }}">Albacore Tuna</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Black-footed Ferret') }}">Black-footed Ferret</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Eastern Lowland Gorilla') }}">Eastern Lowland Gorilla</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Hawksbill Turtle') }}">Hawksbill Turtle</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Marine Iguana') }}">Marine Iguana</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Saola') }}">Saola</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Tree Kangaroo') }}">Tree Kangaroo</a></td>
                                    </tr>
                                    <tr>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Amazon River Dolphin') }}">Amazon River Dolphin</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Blue Whale') }}">Blue Whale</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Fin Whale') }}">Fin Whale</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Hector\'s Dolphin') }}">Hector's Dolphin</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Mountain Plover') }}">Mountain Plover</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Sea Lions') }}">Sea Lions</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Vaquita') }}">Vaquita</a></td>
                                    </tr>
                                    <tr>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Amur Leopard') }}">Amur Leopard</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Bluefin Tuna') }}">Bluefin Tuna</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Galapagos Penguin') }}">Galapagos Penguin</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Hippopotamus') }}">Hippopotamus</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Narwhal') }}">Narwhal</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Sei Whale') }}">Sei Whale</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Western Lowland Gorilla') }}">Western Lowland Gorilla</a></td>
                                    </tr>
                                    <tr>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Arctic Fox') }}">Arctic Fox</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Bonobo') }}">Bonobo</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Ganges River Dolphin') }}">Ganges River Dolphin</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Humphead Wrasse') }}">Humphead Wrasse</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='North Atlantic Right Whale') }}">North Atlantic Right Whale</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Skipjack Tuna') }}">Skipjack Tuna</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Whale Shark') }}">Whale Shark</a></td>
                                    </tr>
                                    <tr>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Arctic Wolf') }}">Arctic Wolf</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Bornean Orangutan') }}">Bornean Orangutan</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Giant Panda') }}">Giant Panda</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Irrawaddy Dolphin') }}">Irrawaddy Dolphin</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Olive Ridley Turtle') }}">Olive Ridley Turtle</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Snow Leopard') }}">Snow Leopard</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='White Rhino') }}">White Rhino</a></td>
                                    </tr>
                                    <tr>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Asian Elephant') }}">Asian Elephant</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Bowhead Whale') }}">Bowhead Whale</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Gray Whale') }}">Gray Whale</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Jaguar') }}">Jaguar</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Plains Bison') }}">Plains Bison</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Southern rockhopper penguin') }}">Southern rockhopper penguin</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Yangtze Finless Porpoise') }}">Yangtze Finless Porpoise</a></td>
                                    </tr>
                                    <tr>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Beluga') }}">Beluga</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Brown Bear') }}">Brown Bear</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Great White Shark') }}">Great White Shark</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Javan Rhino') }}">Javan Rhino</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Poison Dart Frog') }}">Poison Dart Frog</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Sumatran Orangutan') }}">Sumatran Orangutan</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Yellowfin Tuna') }}">Yellowfin Tuna</a></td>
                                    </tr>
                                    <tr>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Bigeye Tuna') }}">Bigeye Tuna</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Chimpanzee') }}">Chimpanzee</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Greater One-Horned Rhino') }}">Greater One-Horned Rhino</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Leatherback Turtle') }}">Leatherback Turtle</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Polar Bear') }}">Polar Bear</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='Sumatran Rhino') }}">Sumatran Rhino</a></td>
                                        <td class='animal-table'><a class='text-white' href="{{ url_for('name_request', type='') }}"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
                    <hr/>                                                           
                    <div class="row">
                        <!-- Animal Image -->
                        <div class="col-sm-5 text-left mt-5 mb-3">
                            <p><img class='animal-img' src="{{ qdata.Img_url }}" alt="{{ qdata.Common_Name }}"></p>
                        </div>
                        <!-- NYT url -->
                        <div class="col-sm-7 text-left mt-5 mb-3">
                            <h5 class='text-warning text-lg-left'>Want to Know Me in New York Times?</h5>
                            <span class="text-info">{% for url in qdata.Article_url %}
                            <p>{{ url }}</p>
                            {% endfor %}</span>
                        </div>
                    </div>                            
                    <!-- Animal Description -->
                    <div class="row">
                        <div class="col-sm-12 text-left text-info">
                            <h5 class='text-warning text-lg-left'>Animal_Fact</h3>
                            <ul>
                                <li><h6>Common Name:&emsp;&emsp;&emsp;&emsp;<span class="text-white">{{ qdata.Common_Name }}</span></h6></li>
                                <li><h6>Other Name:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ qdata.Other_Name }}</h6></li>
                                <li><h6>Scientific Names:&emsp;&emsp;&emsp;&emsp;{{ qdata.Sci_Name }}</h6></li>
                                <li><h6>Status:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ qdata.Status }}</h6></li>
                                <li><h6>Population:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ qdata.Population }}</h6></li>
                                <li><h6>Native Extant Resident Country:<br/>{{ qdata.NERC }}</h6></li>
                                <li><h6>Native Extant Country:<br/>{{ qdata.NEC }}</h6></li>
                                <li><h6>Description:<br/>{{ qdata.Description }}</h6></li>
                                <li><h6><a class="text-info" href="/api/temperature" target="_blank">Data for Temperature of Extant Country:</a><br/></h6>
                                    <p class="text-weight-light">Data format: [{country name:[{Avg_Temp: <span class="text-success">list of data</span>}, {Avg_Temp_Unvertainty: 
                                        <span class="text-success">list of data</span>}, {Date: <span class="text-success">list of data</span>}]}]</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <!-- |||pg-lyt-body ends||| -->                 
            </div>
            <!-- |||pg-lyt-footer||| -->
                <div id='pg-lyt-footer'><hr id='hr-footer'>Rice Coding Bootcamp 2019 - Mission to Mars HW by Lei Kang</div>
        <!-- ||pg-lyt-container ends|| -->        
        </div>
    <!-- |body ends| -->
    </body>        
</html>